@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #363636;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(30px);
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    color: rgb(68,60,60);
    cursor: default;
}
span{
    color: #4d559d;
}
.navigation a{
    font-size: 1.1em;
    color: rgb(68, 60, 60);
    text-decoration: none;
    /* margin-right: 40px; */
    
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover{
    color: #4d559d;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    gap: 30px;
  }
  

  @media (min-width: 1021px) {
    .toggle-button {
      display: none;
    }
  }

  @media (max-width: 1020px) {
    .navigation {
      display: none;
      justify-content: center;
      flex-direction: column;
      background-color: #d3512a;
      position: absolute;
      top: 70px;
      right: 20px;
      width: 300px;
      border-radius: 5px;
      padding: 10px 0;
    }
  
    .navigation a {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
  
    .navigation.show {
      display: flex;
      color: #d3512a;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      /* backdrop-filter: blur(50px); */
      background: #4d559d;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(112, 47, 10, 0.2);
      /* color: rgb(240, 148, 28); */
      font-size: 22px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    .toggle-button {
      display: block;
      background: none;
      border: none;
      color: #4d559d;
      font-size: 24px;
      cursor: pointer;
    }
    
  }
.tombol-download{
    color: white;
    text-decoration: none;
    padding: 8px 35px;
    background: #4d559d;
    border-radius: 10px;
    border: 2px solid #4d559d;
    font-weight: 500;
    transition: .3s;
    text-align: center;
}
.tombol-download:hover{
    color: #4d559d;
    background: transparent;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
    /* flex-basis: 30%; */
}
.content{
    max-width: 900px;
    color: rgb(68, 68, 60) ;
}
.content h2{
    font-size: 3em;
}
.content h4{
    font-size: 2em;
}
.content p{
    padding: 10px 0 15px 0;
    color: rgb(2, 21, 48);
}
.group-tombol{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.group-tombol a{
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background: #4d559d;
    border-radius: 10px;
    border: 2px solid #4d559d;
    font-weight: 500;
    transition: .3s;
}
.group-tombol a:hover:nth-child(1){
    color: #4d559d;
    background: transparent;
}
.group-tombol a:nth-child(2){
    color: #4d559d;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.group-tombol a:hover:nth-child(2){
    color: white;
    background: #4d559d;
}
.sosmed{
    margin-top: 50px;
    /* position:absolute; */
    bottom: 50px;
}
.sosmed a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 40px;
    outline: 3px solid #4d559d;
    transition: .3s;
}
.sosmed a i{
    color: rgb(68, 60, 60);
    font-size: 20px;
}

.services{
    padding: 30px 30px;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    /* background: #79797e; */
    /* background: linear-gradient(rgba(209, 160, 23, 0.6),#3a3211); */
    background: linear-gradient(#4d559d,#669ec4);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    /* background: #165e5a; */
    background: linear-gradient(rgb(3, 44, 92),#1f1f1f);
    transform: translateY(-10px);
}
.container{
    padding: 10px 5% 15px 5%;
    color: rgb(68,60,60);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-container{
    padding: 10px 5% 15px 5%;
    color: rgb(68,60,60);
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}
.service-container h2{
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-mywork{
    padding: 10px 5%;
    /* color: rgb(68,60,60); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    /* justify-content: center; */
}
.container-contact{
    padding: 10px 10%;
    /* color: rgb(68,60,60); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.icon-color{
    color: #363636;
}

#about {
    padding: 80px 0;
    color: rgb(68, 68, 60) ;
}
.row{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: row;
}
.contact-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.row-mywork{
    margin-top: 222px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
.about-col-1{
    /* flex-basis: 35%; */
}
.about-col-1 img{
    /* background-color: #79797e; */
    width: auto;
    height: 60vh;
    border-radius: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
}
.about-col-2{
    margin-left: 2%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; */
}
.sub-title{
    font-size: 45px;
    font-weight: 600;
    color: rgb(68, 68, 60) ;
}
.contact-title{
    font-size: 45px;
    font-weight: 600;
    color: rgb(68, 68, 60) ;
    display: flex;
    align-items: start;
}
.text{
    padding: 10px 0 15px 0;
    
}
.web-text{
    color: #ffffff;
    font-weight: 900;
}
.services p{
    color: #ffffff;
}
.about-col-2 p{
    color: rgb(2, 21, 48);
}
.tab-title p{
    color: rgb(2, 21, 48); ;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
    color: rgb(2, 21, 48);
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: rgb(2, 21, 48);
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4d559d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: rgb(2, 21, 48);
}
.tab-contents ul{
    color: rgb(2, 21, 48);
}
.tab-contents ul li span{
    /* color: #165e5a; */
    color: rgb(2, 21, 48);
    font-size: 14px;
    font-weight: bolder;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block
}

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: flex;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 40px;
    flex-direction: row;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(15, 132, 153, 0.6),#4d559d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    color: #c0c2ca;
    transition: height 0.5s ;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffffff;
}
.layer p{
    color: #ffffff;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    color: #4d559d;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4d559d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(68, 68, 60) ;
}
.btn:hover{
    background: #4d559d;
    color:#ffffff
}
/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.input-box input,
.input-box textarea{
    border: solid 2px #4d559d;
    border-radius: 15px;
}
.contact-left p{
    margin-top: 30px;
    color: rgb(68, 68, 60) ;
    font-weight:600;
}
.contact-left p i{
    /* color: #4d559d ; */
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    color: rgb(255, 94, 0);
    
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #4d559d ;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #4d559d;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color:#4d559d;
    color: #ffffff;
}
.contact-right form{
    width: 100%;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    /* background: #ffffff; */
    border: solid 2px #4d559d;
    padding: 15px;
    margin: 15px 0;
    color: rgb(68, 68, 60) ;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
   
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: #4d559d;
}
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(images/background3s.png);
    }
    .header-text{
        margin-top: 25%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav{
        
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        color: #ffffff;
    }
    nav ul{
        background: #4d559d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transform: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
@media only screen and (max-width:450px){
    .header-text{
        margin-top: 60%;
        font-size: 16px;
    }
}
#msg{
    color: #ffffff;
    margin-top: -10px;
    display: block;
}
.hero{
    width: 100%;
    height: 100vh;
    /* background: rgb(15, 7, 39); */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.hero .carousel{
    width: 0px;
    margin: 100px auto 0;
    overflow: visible;
}
.carousel img {
    -webkit-box-reflect: below 20px linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
}
.name{
    /* background-color: rgb(15, 7, 39); */
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    font-size: 400%;
}
.name i{
    font-size: 150%;
    /* font-size: 900; */
   font-weight: 900;
   text-shadow: 2px 2px 5px #4d559d;
}
/* /////////////////////////////// */

.container-web{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    grid-gap: 30px;
    border: solid #4d559d;
    padding: 2%;
    flex-wrap: wrap;
}
.gallery img{
    width: 100%;
}
.gallery-mobile{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 20px;
    border: solid #4d559d;
    padding: 1%;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-mobile img{
    /* width: 100%; */
    border: solid #5cb075;
}

.web-home{
    padding-top:100px ;
}

